*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #cfe4f2;
}
ul
{
    min-width: 0px;
    list-style: none;
    display: right;
    /* this moves the nav buttons to the very top right corner
    and removes the background on the text which was blocking the 
    "weather app text*/
    margin-top: -30;
    text-align: right;
    width: 1900px;
    background: none;
}

.container-navbar
{
    background-color: white;
}
header
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 20px;
}

/* moves the "weather app text to the very top left corner*/
header h1 
{
    display: flex;
   margin-top: -25;
   text-align: left;
   width: 1900px;
}

li
{
    text-align: center;
    padding-right: 10px;
    display: inline;
    
}
body
{
    font-family: fantasy;   
}
.input
{
    text-align: center;

}
/*made the search bar look better*/
input[type="text"]
{
    height: 50px;
    width: 600px;
    background-color: #ffffff;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 20px;
    padding: 10px 15px;
    border: none;
    outline: none;
    color: #313131; 
    border-radius: 16px 0px 16px 0px;
    border-bottom: 3px solid rgba(161, 187, 209, 0.75) ;
    font-size: 20px;
    font-weight: 300;
    transition: 0.2 ease-out;
    
}
/* made the tempature and weather size bigger and added a shadow*/
main
{
    flex: 1 1 100%;
    padding: 25px 25px 50px;
    flex-direction: row;
    align-items: center;
    text-align: center;
}
.current .temp
{
    font-size: 50;
    text-shadow: 2px 8px rgba(58, 53, 128, 0.75)
}
.weather
{

    font-size: 25px;
    text-shadow: 2px 8px rgba(58, 53, 128, 0.75)
}